body{box-sizing: border-box; margin:0; padding:0;background-color: #f7f6f4;}

/*Style header*/

.logo{width: 250px; }

ul{list-style-type: none;}

.navbar{width: 100%;;display: flex; justify-content: space-around; align-items: center; background-color: #cdc5a3; }

a{color: black; font-weight: bold;font-size: 2em;font-family: 'Montserrat', sans-serif;text-decoration: none; }

a:hover{background-color: #a59a6f;border-radius: 10px;box-shadow: 10px 10px 5px 5px;}

.power{height: 40px;width: 40px;position: relative;}

.power:hover{background-color: #a59a6f;border-radius: 10px;}

/*Style main*/

main{margin: 15px;}

.main_index{display: flex;flex-direction: column;margin: 10px;border-radius: 5px;width: 100%;}

img{border-radius: 15px 0px 0px 15px;height: 300px;justify-content: center;display: flex;}

h1{text-align: center;font-size: 2.5em;font-family: 'Montserrat', sans-serif;}

.main_content{width: 100%;display: flex; background-color: #cdc5a3;border-radius: 15px;margin: 20px;align-items: center;}

p{text-align: center; font-family: 'Montserrat', sans-serif;margin: 20px;font-size:2em;}

/*Style footer*/

footer{display: flex;flex-wrap: wrap; justify-content: space-around; align-items: center;background-color: #cdc5a3;height: 350px;}

.footer_content{background-color: #a59a6f; border-radius: 10px;height: 250px;width: 550px;}

h2, p{text-align: center; font-family: 'Montserrat', sans-serif;}

.button{background-color: #a59a6f; border-radius: 10px; box-shadow: 5px 5px;
   font-family: 'Montserrat', sans-serif; font-size: 1.5em;}

/*Style véhicule occasion */

.main_occasions{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;}

.vehicles{display: flex;flex-direction: row; flex-wrap: wrap;justify-content: space-around; }

.display_cards{display: flex;flex-direction: column;width: 440px;margin: 15px;}

.display_card{display: flex;flex-direction: column; width: 1265px;margin: 15px;}

.content_card{display: flex;flex-direction: column;align-items: center;background-color: #cdc5a3;border-radius: 0px 0px 15px 15px;height: 280px;}

.img_card{border-radius: 15px 15px 0px 0px;}
 
.button_card{background-color: #a59a6f;border-radius: 10px;box-shadow: 10px 10px 5px 5px;transform:scale(1.5);transition:0.2s linear;}

.full_img{display: flex;justify-content: center;}

.vehicle_features{display: flex;}

.input_range{display: flex; flex-direction: row;justify-content: space-around;}

.range{display: flex; flex-direction: row;}

/*Style Nous contacter*(form.php)*/

.form{display:flex;flex-direction: column; justify-content: center;align-items: center;}

input, textarea{text-align: center;font-size: 1.2rem;margin-bottom: 15px;}

input:focus, textarea:focus{border: 5px solid red;}

/*Style login*/

form{display: flex;flex-direction: column;align-items: center; background-color: #a59a6f;}

label{font-family: 'Montserrat', sans-serif;font-weight: bold;text-align: center;padding-bottom: 5px;}

.champs{display: flex;flex-direction: column;}

input{height: 50px;width: 300px;margin: 20px;border-radius: 10px;font-size: 1.5em;}

.log, .submit{background-color: #cdc5a3;}

.submit:hover{background-color: #a59a6f;}

.alert{
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   background-color: firebrick;
   height: 50px;
   display: flex;
   justify-content: center; 
   align-items: center;
}

/*Style vehicle*/

table {display: flex;flex-direction: column; justify-content: center; border: 1px solid #333; margin: 100px; }

thead,tfoot { background-color: #a59a6f; color:black;}

tr, td{display: flex;flex-direction: row; justify-content: center; border: 1px solid #333;}

th, td{width: 570px;height: 35PX;align-items: center;font-weight: bold;font-size: 1.2em;background-color: #cdc5a3;}

 .delete{font-size: 0.8em;}

.pagination{display: flex;justify-content: center;}

.page{padding-left: 10px;}

.parent{display: grid;}

.create{margin:auto; background-color: #a59a6f; border-radius: 10px; box-shadow: 5px 5px;
   font-family: 'Montserrat', sans-serif; font-size: 1.5em;padding:-20px;}

   #alertrue{
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      background-color: #22b229;
      height: 50px;
      display: flex;
      justify-content: center; 
      align-items: center;
   }

.displayform{display: flex;}

.session{background-color: red;}

.admin{display: flex;flex-direction: row;justify-content: space-around;}

.info{display: flex;justify-content: center;}

.select{display: flex;justify-content: space-around;}

/*gestion upload*/

.upload{display: flex;flex-direction: column;margin-top: 50px;}

#image{width: 500px;}

/*For mobile*/
@media(max-width:460px) {
 
 nav{display: flex;}  
 
.logo{display: none; }

.navbar{flex-direction: column;}

a{color: black; font-weight: bold;font-size: 1em;font-family: 'Montserrat', sans-serif;text-decoration: none; }

main{display: flex;flex-wrap: wrap;}

h1{text-align: center;font-size: 1.5em;font-family: 'Montserrat', sans-serif;}

.main_content{flex-wrap: wrap; background-color: #cdc5a3;border-radius: 15px;width: 100%;margin-left: -10px;}

p{text-align: center; font-family: 'Montserrat', sans-serif;margin: 10px;font-size:1em;}

img{border-radius: 15px 0px 0px 15px;height: 150px;width: 279px;}

.button{background-color: #a59a6f; border-radius: 10px; box-shadow: 5px 5px;
   font-family: 'Montserrat', sans-serif; font-size: 1.5em;margin: 15px;}

footer{display: flex;flex-wrap: wrap; justify-content: space-around; align-items: center;background-color: #cdc5a3;height: 410px;}


}

/*For tablet*/
@media only screen and (min-width:350px) and (max-width: 990px) {

 nav{display: flex;}

 .logo{height: 100px;width: 100px;}

 a{color: black; font-weight: bold;font-size: 0.8em;font-family: 'Montserrat', sans-serif;text-decoration: none; }

 p{text-align: center; font-family: 'Montserrat', sans-serif;margin: 20px;font-size:1.5em;}

 .main_content{flex-wrap: wrap; background-color: #cdc5a3;border-radius: 15px;width: 100%;margin-left: -10px;}

 .footer_content{background-color: #a59a6f; border-radius: 10px;height: 250px;width: 100%;}

 .button{background-color: #a59a6f; border-radius: 10px; box-shadow: 5px 5px;
   font-family: 'Montserrat', sans-serif; font-size: 1.5em;margin: 25px;}

}

/*For destokp */
@media(min-width:990px) {

   nav{display: flex;}
   
   .navbar{height: 120px;}

   .footer_content{background-color: #a59a6f; border-radius: 10px;height: 250px;width: 100%;}

   .button{background-color: #a59a6f; border-radius: 10px; box-shadow: 5px 5px;
      font-family: 'Montserrat', sans-serif; font-size: 1.5em;margin: 30px;}
  
   .main_content{flex-wrap: wrap; background-color: #cdc5a3;border-radius: 15px;width: 100%;margin-left: -8px;}

}














